.paragraph{
    background-color: whitesmoke;
    color: rgb(11, 95, 163);
    text-align: center;
    font-size: small;
}
.header{
    color: rgb(11, 95, 163);
    background-color: whitesmoke;
    font-size: 150%;
}
.strong{
    color: teal;
    font-size: 150%;
}
.container{
    background-color: whitesmoke;
    color: peru;
}
.row{
    color:teal;
    font-style: oblique;
    
}
.courses{
    background-color: white;
    color:rgb(6, 73, 90);
    
}
.strong1{
    color: teal;
    font-style: oblique;
    font-size: 105%;
    
}

.button{
    background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
.button:hover{
   
    background-color: #008CBA;
    color: white;

    background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.footer{
    
}